/docs
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
/debug
/release
Tests/.qmake.stash
Tests/Makefile
Tests/Makefile.Debug
Tests/Makefile.Release
Tests/debug
Tests/release
Masters_Project_Silk_Torch/.qmake.stash
Masters_Project_Silk_Torch/Makefile
Masters_Project_Silk_Torch/Makefile.Debug
Masters_Project_Silk_Torch/Makefile.Release
Masters_Project_Silk_Torch/debug
Masters_Project_Silk_Torch/release
*.o
Masters_Project_Silk_Torch/Masters_Project_Silk_Torch
Tests/Tests
Masters_Project_Silk_Torch_All.Pro.user.*
Masters_Project_Silk_Torch/log.txt
Tests/log.txt
Masters_Project_Silk_Torch/moc
Masters_Project_Silk_Torch/Masters_Project_Silk_Torch.exe
Masters_Project_Silk_Torch/Masters_Project_Silk_Torch.pdb
Masters_Project_Silk_Torch/Masters_Project_Silk_Torch.ilk
Masters_Project_Silk_Torch/obj
msvc_make.bat
Masters_Project_Silk_Torch/ui_MainWindow.h